$backgroundC: rgb(245, 246, 250);
$panelC: rgb(127, 143, 166);
$panelOnClick: rgb(81, 100, 128);
$headerC: #273c75;

// color source = https://flatuicolors.com/palette/es

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: $backgroundC;
}

.howToUse_H {
    display:inline-table;
    width: 320px;
    height: 163px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border: 1px solid $headerC;
    border-radius: 0.3em;
    background-color: $panelC;
    color: $backgroundC;
    // 지원 안하는 경우 있음: justify;
    text-align:justify;
    // board style: https://thrillfighter.tistory.com/477
}

.button_blue {
    min-width: 140px;
    height: 44px;
    padding: 0 30px;
    color: #fff;
    font-size: 16px;
    font-family: "맑은 고딕", Malgun Gothic, sans-serif;
    font-weight: bold;
    line-height: 40px;
    border: 1px solid transparent;
    background-color: #1b87d4;
    cursor: pointer;
}

.button_white {
    min-width: 140px;
    height: 44px;
    padding: 0 30px;
    color: #1b87d4;
    // 폰트 통일하기.
    font-size: 16px;
    font-family: "맑은 고딕", Malgun Gothic, sans-serif;
    font-weight: bold;
    line-height: 40px;
    border: 1px solid #1b87d4;
    background-color: #fff;
    cursor: pointer;
}
// 버튼

.buttonToRightBottom {
    width: 75px;
    height: 30px;
    float: right;
    position: relative;
    right: 0;
    bottom: -38px;
}

.inside {
    margin-top: 3vh;
    margin-left: 5vh;
}

.container {
    display: grid;
    height: 87vh;
    grid-template-columns: 30vh 1fr;
}

.menuAndLang {
    background-color: $panelC;
}

.menu {
    width : 100%;
    text-align: center;
}

.lang {
    margin-top:0.5vh;
    display:grid;
    align-items: center;
    width : 100%;
    text-align: center;
    grid-template-columns: 50% 50%;
}

.menuHeader {
    list-style: none;
    padding: 1vh;
    font-weight: bold;
    color: black;
    text-align: center;
}

.menuList {
    list-style: none;
    padding: 2vh;
    font-weight: 500;
    color: $backgroundC;
}

.menuOnPage {
    list-style: none;
    padding: 2vh;
    font-weight: 500;
    font-weight: bold;
    color:$backgroundC;
    background-color:$panelOnClick;
}

.upperSite {
    margin: 0;
    padding: 0;
    display: inline-blcok;
    height: 13vh;
    line-height: 13vh;
    text-align: center;
    background-color: $headerC;

    color: $backgroundC
}

h3 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.big_textbox {
    width: 740px;
    height: 150px;
}

.textarea_Title {
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.error {
    color: $headerC;
    margin:0;
    padding-top: 0.3vh;
}

input[type="number"] {
    width: 80px;
    height: 16px;
    text-align:center;
}


.h1Title {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: $panelC;
    border-radius: px;
    min-width: 70px;
    color: $headerC;
    font-weight: 600;
    float: right;
}
// 버튼 css 디자인: https://webdir.tistory.com/421
// 버튼 정렬 방식: http://img.echosting.cafe24.com/guide/suio/description/button_align.html