@charset "UTF-8";
/*
$backgroundC: rgb(245, 246, 250);
$panelC: rgb(127, 143, 166);
$panelOnClick: #516480;
$headerC: #273c75;
*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fbf5e6;
}

.howToUse_H {
  display: inline-table;
  width: 320px;
  height: 163px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
  border: 1px solid #3d423e;
  border-radius: 0.3em;
  background-color: #a7c9c7;
  color: #fbf5e6;
  text-align: justify;
}

.button_blue {
  display: inline-block;
  text-align: center;
  min-width: 80px;
  height: 40px;
  padding: 0 30px;
  color: #fbf5e6;
  font-size: 16px;
  font-family: "맑은 고딕", Malgun Gothic, sans-serif;
  font-weight: bold;
  line-height: 40px;
  border: 1px solid transparent;
  background-color: #3d423e;
  cursor: pointer;
}

.button_white {
  display: inline-block;
  text-align: center;
  min-width: 80px;
  height: 40px;
  padding: 0 30px;
  color: #fbf5e6;
  font-size: 16px;
  font-family: "맑은 고딕", Malgun Gothic, sans-serif;
  font-weight: bold;
  line-height: 40px;
  border: 1px solid #3d423e;
  background-color: #516480;
  cursor: pointer;
}

.buttonToRightBottom {
  width: 75px;
  height: 30px;
  float: right;
  position: relative;
  right: 0;
  bottom: -38px;
}

.inside {
  margin-top: 3vh;
  margin-left: 5vh;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 87vh;
  -ms-grid-columns: 30vh 1fr;
      grid-template-columns: 30vh 1fr;
}

.menuAndLang {
  background-color: #a7c9c7;
}

.menu {
  width: 100%;
  text-align: center;
}

.lang {
  margin-top: 0.5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.menuHeader {
  list-style: none;
  padding: 1vh;
  font-weight: bold;
  color: black;
  text-align: center;
}

.menuList {
  list-style: none;
  padding: 2vh;
  font-weight: 500;
  color: #fbf5e6;
}

.menuOnPage {
  list-style: none;
  padding: 2vh;
  font-weight: 500;
  font-weight: bold;
  color: #fbf5e6;
  background-color: #516480;
}

.upperSite {
  margin: 0;
  padding: 0;
  display: inline-blcok;
  height: 13vh;
  line-height: 13vh;
  text-align: center;
  background-color: #3d423e;
  color: #fbf5e6;
}

h3 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.big_textbox {
  width: 740px;
  height: 150px;
  resize: none;
}

.big_textbox_result {
  width: 740px;
  height: 150px;
  resize: none;
  background-color: dimgrey;
  color: aquamarine;
}

.textarea_Title {
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.error {
  color: #3d423e;
  margin: 0;
  padding-top: 0.3vh;
}

input[type="number"] {
  width: 80px;
  height: 16px;
  text-align: center;
}

.h1Title {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #a7c9c7;
  border-radius: px;
  min-width: 70px;
  color: #3d423e;
  font-weight: 600;
  float: right;
}

.IndexBody {
  background-color: #a7c9c7;
}

.IndexEmptyBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8vh;
}

.IndexTitle {
  margin: 0;
  width: 100%;
  height: 8vh;
  text-align: center;
  vertical-align: bottom;
}

.IndexTitle_h1 {
  margin: 0;
  padding: 0;
  font-size: 5vw;
  color: #3d423e;
}

.IndexEmptyBody2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 13vh;
  background-color: #a7c9c7;
}

.IndexMenuBar {
  background-color: #a7c9c7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.IndexMenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fbf5e6;
  width: 62vh;
  height: 50vh;
  color: #3d423e;
  border: 12px solid #3d423e;
  cursor: pointer;
}

.IndexSlash {
  display: Inline;
  margin: 0;
  padding: 0;
  font-size: 14vw;
  font-weight: bolder;
  color: #fbf5e6;
  vertical-align: -60%;
}

.IndexMenuTextTitle {
  text-align: center;
  font-weight: bolder;
  color: #3d423e;
}

.IndexMenuTextAlign {
  padding-top: 1vh;
  padding-right: 2.5vh;
  padding-left: 2.5vh;
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
}

.Index_Click {
  text-align: center;
  vertical-align: bottom;
  color: #3d423e;
}
/*# sourceMappingURL=style.css.map */